@import "tailwindcss";

.input {
  @apply w-full p-2 border rounded;
}


.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%; /* Makes it circular */
  transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.dot.active {
  background: white; /* Or your primary color */
  transform: scale(1.2); /* Slightly enlarges the active dot */
}

.dot.inactive {
  background: #cbd5e1; /* Gray-300 */
  opacity: 0.7;
}


